<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resultList.css">
</head>
<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
          <div class="home-icon">
            <a href="/">
              <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
          </div>
        </nav>
      </div>

    
      <div class="container">
        <div class="content-container">
            <% mbtiData.forEach(item => { %>
                <div class="mbti-type-container" data-type="<%= item.type %>">
                    <div class="card-inner">
                        <div class="card-front">
                            <div class="card-mbti-type">
                                <h1><%= item.type %></h1>
                            </div>
                            <div class="card-perfume">
                                <img src=<%= item.image[0] %> alt="Perfume Image" class="card-img">
                            </div>
                            <div class="card-description">
                                <h2><%= item.perfumeRecommendations[0].perfumeNameKor %></h2>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="card-mbti-type">
                              <h1><%= item.type %></h1>
                            </div>
                            <div class="card-perfume">
                                <img src=<%= item.image[1] %> alt="Perfume Image" class="card-img">
                            </div>
                            <div class="card-description">
                                <h2><%= item.perfumeRecommendations[1].perfumeNameKor %></h2>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('partials/foot') %>
    
    <script type="module" src="/js/result.js"></script>
</body>
</html>