<%- include('partials/head') %>

    <div class="container">
        <div class="result-type">
            <h1>당신은 <%= mbtiType %>!</h1>
            <span id="mbtiType"></span>
        </div>
        <div class="percentage-container">
            <div class="percentage-bar" id="E-I">
                <span class="label">E</span>
                <span class="percentage-text"><%= EI_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= EI_value || 0%>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - EI_value %>%</span>
                <span class="label">I</span>
            </div>
            <div class="percentage-bar" id="S-N">
                <span class="label">S</span>
                <span class="percentage-text"><%= SN_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= SN_value || 0 %>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - SN_value %>%</span>
                <span class="label">N</span>
            </div>
            <div class="percentage-bar" id="T-F">
                <span class="label">T</span>
                <span class="percentage-text"><%= TF_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= TF_value || 0 %>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - TF_value %>%</span>
                <span class="label">F</span>
            </div>
            <div class="percentage-bar" id="J-P">
                <span class="label">J</span>
                <span class="percentage-text"><%= JP_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= JP_value || 0 %>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - JP_value %>%</span>
                <span class="label">P</span>
            </div>
        </div>
        <div class="result-recomand">
            <h2><sapn class="circle-number">1</sapn>추천 향</h2>
            <span class="strong-result"><%= mbtiData["recommendedScents"] %></span>
        </div>
        <div class="result-recomand-info">
            <h1>즉흥적이고 에너제틱한 성격에 어울리는 상쾌하고 강렬한 향</h1>
        </div>
        <div class="result-description">
            <p id="description"></p>
        </div>
        <div class="result-characteristics">
            <p>· <%= mbtiData["personalityTraits"]["relationships"] %></p>            <!-- 인간 관계계 -->
            <p>· <%= mbtiData["personalityTraits"]["hobbies"] %></p>                       <!-- 인간 관계계 -->
            <p>· <%= mbtiData["personalityTraits"]["romance"] %></p>                  <!-- 인간 관계계 -->
            <!-- idealType 추가해야 함 -->
            <p>· <%= mbtiData["personalityTraits"]["strengths"].join(", ") %></p>          <!-- 인간 관계계 -->
            <p>· <%= mbtiData["personalityTraits"]["weaknesses"].join(", ") %></p>         <!-- 인간 관계계 -->
        </div>
        <div class="result-recomand">
            <h2><sapn class="circle-number">2</sapn>추천 향수</h2>
            <div class="perfume-container">
                <% mbtiData["perfumeRecommendations"].forEach(function(perfume, index) { %>
                    <div class="perfume-item">
                        <h3><%= perfume["perfumeName"] %></h3>
                        <h4 class="abc"><%= perfume["perfumeDescription"] %></h4>
                        <div class="perfume-image">
                            <p>이미지</p> <!-- 이미지 경로를 추가할 경우 여기에 동적으로 삽입 -->
                        </div>
                        <div class="perfume-description">
                            <h4>향수에 관한 설명:</h4>
                            <p>(어떤 특징이 있고 어떤 향을 담고 있는지)</p>
                            <p>사용 연령대나 선호 성별</p>
                        </div>
                        <div class="scent-description">
                            <% mbtiData["recommendedScents"].forEach(function(scent) { %>
                                <h4>향 설명:</h4>
                                <p><%= scent %> 향이란?</p>
                                <p><%= mbtiData["scentDescriptions"]["scent"] %></p>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
            <hr>
        </div>
        <button id="restartButton" onclick="window.location.href='/'">다시 테스트하기</button>
<%- include('partials/foot') %>