<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resultPage.css">
</head>
<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
          <div class="home-icon">
            <a href="/">
              <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
          </div>
        </nav>
      </div>

    
    <div class="container">
        <div class="content-container">
          <div class="mbti-type-container">
            <h3>당신은</h3>
            <h1><%= mbtiType %></h1>
            <h3><%= mbtiData["category"] %></h3>
          </div>

          <div class="recommnad-perfume-container-1">
            <p class="box-title">특성</p>
            <div class="recommand-scent-personality-container">

              <div class="personality-container">
                <div class="personality-box">
                  <div class="personality-content">
                    <span>인관관계</span>
                    <h4><%= mbtiData["personalityTraits"]["relationships"] %></h4>
                  </div>
                  <div class="personality-content">
                    <span>취미</span>
                    <h4><%= mbtiData["personalityTraits"]["hobbies"] %></h4>
                  </div>
                </div>

                <div class="personality-box">
                  <div class="personality-content">
                    <span>연애</span>
                    <h4><%= mbtiData["personalityTraits"]["romance"] %></h4>
                  </div>
                  <div class="personality-content">
                    <span>이상형</span>
                    <h4><%= mbtiData["personalityTraits"]["idealType"] %></h4>
                  </div>
                </div>
                
                <div class="personality-container-low">
                  <div class="personality-content-PnC">
                      <span>장점</span>
                      <h4><%= mbtiData["personalityTraits"]["strengths"][0] %></h4>
                      <h4><%= mbtiData["personalityTraits"]["strengths"][1] %></h4>
                  </div>
                  <div class="personality-content-PnC">
                      <span>단점</span>
                      <h4><%= mbtiData["personalityTraits"]["weaknesses"][0] %></h4>
                      <h4><%= mbtiData["personalityTraits"]["weaknesses"][1] %></h4>
                  </div>
                </div>   
              </div>
            </div>
          </div>

          <div class="recommand-scent-container-1">
            <p class="box-title">추천 향</p>
            <div class="recommand-scent-container">
              <div class="recommand-scent-title-container">
                <h4> 감수성이 풍부하고 이상주의적인 성격에 어울리는 부드럽고 평화로운 향</h4>
              </div>

              <div class="recommand-scent-content">
                <% for (let i = 0; i < 2; i++) { %>

                  <div class="perfume-discription-container">
                    <div class="perfume-discription-title">
                      <span style="width: 6em; display: flex; filter: grayscale(100%) brightness(150%);" > <%= DataBase_P[mbtiData["recommendedScents"][i]][0] %> <%= mbtiData["recommendedScents"][i] %> </span>
                    </div>

                    <div class="perfume-discription-text-container">
                      <div class="perfume-discription-text-container">
                        <p><%= DataBase_P[mbtiData["recommendedScents"][i]][1] %></p>
                      </div>
                    </div>
                  </div>

                <% } %>
              </div>
            </div>  
          </div>

          <% for (let i = 0; i < 2; i++) { %>

            <div class="recommand-perfume-container">

              <div class="recommand-perfume-content">
                <img src= <%= mbtiData["image"][i] %> alt="Perfume" class="recommand-perfume-image">

                <div class="recommand-perfume-text-container">
                  <div class="recommand-perfume-title-container">
                    <span><%= mbtiData["perfumeRecommendations"][i]["perfumeNameEng"] %><br> <%= mbtiData["perfumeRecommendations"][i]["perfumeNameKor"] %></span>
                  </div>
                  <p style="font-size: 18px; font-weight: 100; color:rgb(46, 46, 46);"><%= mbtiData["perfumeRecommendations"][i]["perfumeDescription"] %></p>
                </div>
              </div>
            </div>

          <% } %>




          </div>

          <div class="restart-btn-container">
                <button class="ReStartButton" onclick="window.location.href='/'">다시 테스트하기</button>
          </div>
        </div>
    </div>


    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: ProteinJ</p>
    </footer>
</body>
</html>