<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/resultPage.css">
</head>
<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
          <div class="home-icon">
            <a href="/">
              <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
          </div>
          <div class="resultOage-Tag">
            <a href="/resultPage" style="font-size: 30px; color: white; text-decoration: none; margin-left: 15px;">
              Result Page
            </a>
          </div>
        </nav>
      </div>

    
    <div class="container">
        <div class="content-container">
          <div class="mbti-type-container">
            <h3>당신은</h3>
            <h1>ENTJ</h1>
            <h3>( 순수한 이상주의자 )</h3>
          </div>

          <div class="percentage-container">
            <div class="percentage-bar" id="E-I">
                <span class="label">E</span>
                <span class="percentage-text"><%= EI_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= EI_value || 0%>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - EI_value %>%</span>
                <span class="label">I</span>
            </div>
            <div class="percentage-bar" id="S-N">
                <span class="label">S</span>
                <span class="percentage-text"><%= SN_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= SN_value || 0 %>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - SN_value %>%</span>
                <span class="label">N</span>
            </div>
            <div class="percentage-bar" id="T-F">
                <span class="label">T</span>
                <span class="percentage-text"><%= TF_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= TF_value || 0 %>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - TF_value %>%</span>
                <span class="label">F</span>
            </div>
            <div class="percentage-bar" id="J-P">
                <span class="label">J</span>
                <span class="percentage-text"><%= JP_value %>%</span>
                <div class="bar">
                    <div class="fill" style="width: <%= JP_value || 0 %>%;"></div>
                </div>
                <span class="percentage-text"><%= 100 - JP_value %>%</span>
                <span class="label">P</span>
            </div>
          </div>

          <div class="recommand-scent-personality-container">
            <div class="recommand-scent-container">
              <h3>추천 향 - 플로럴ㅁ, 그린ㅁ</h3>
              <h4>ㅅ 감수성이 풍부하고 이상주의적인 성격에 어울리는 부드럽고 평화로운 향</h4>
            </div>
            <div class="personality-container">
              <div class=relationship>
                <span>인관관계</span>
                <h4>깊고 의미 있는 관계를 선호하며, 타인의 결정을 세심하게 이해함.</h4>
              </div>
              <div class="hobby">
                <span>취미</span>
                <h4>글쓰기, 예술, 음악 등 감성을 표현할 수 있는 활동을 즐김.</h4>
              </div>
              <div class="love">
                <span>연애</span>
                <h4>이상적인 사람을 꿈구며, 깊은 감정적 교감을 중요시 함.</h4>
              </div>
              <div class=""

            </div>
          </div>

          <div class="restart-btn-container">
                <button class="ReStartButton" onclick="window.location.href='/'">다시 테스트하기</button>
          </div>
        </div>
    </div>


    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Perfum MBTI Test :: ProteinJ</p>
    </footer>
</body>
</html>