<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI TEST</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/testP.css">
</head>

<body>
    <div class="navbar-wrapper" >
        <nav class="navbar">
          <div class="home-icon">
            <a href="/">
              <img src="/image/navbar-home-icon.png" id="navbar-home-icon" style="height: 40px;"> 
            </a>
          </div>
        </nav>
      </div>

      <div class="container">
        <div class="container-content">
            <% for (let i = 0; i < 28; i++) { %> <div class="question-container" id="question<%= i + 1 %>" style="display: <%= i === 0 ? 'block' : 'none' %>">
                    <div class="process-container">
                        <p class="process"><%= i + 1 %> / 28</p> 
                    </div>
                    <div clas="question-situation-container">
                      <p class="question-situation"><%= mbtiQuestion.situation[i] %></p>
                    </div>
                    <div class="question-button">
                        <input type="radio" name="question<%= i %>" id="q<%= i %>_option0" value="0" data-index="<%= i %>">
                        <label for="q<%= i %>_option0" class="question-box">
                            <p class="question-text"><%= mbtiQuestion.options[i * 2] %></p> </label>

                        <input type="radio" name="question<%= i %>" id="q<%= i %>_option1" value="1" data-index="<%= i %>">
                        <label for="q<%= i %>_option1" class="question-box">
                            <p class="question-text"><%= mbtiQuestion.options[i * 2 + 1] %></p> </label>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <%- include('partials/foot') %>

    <script src="/js/app.js"></script>
</body>
</html>